<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TraceShot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TraceShot.Properties.Settings>
            <setting name="SavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="FrameRate" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="UseHardwareAccel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BookmarkHotkeyKey" serializeAs="String">
                <value>114</value>
            </setting>
            <setting name="BookmarkHotkeyMod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainColorName" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="OverColorName" serializeAs="String">
                <value>Aqua</value>
            </setting>
            <setting name="MainTextColorName" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="OverTextColorName" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="CropColorName" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="CropFillColorName" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="VoiceHotkeyKey" serializeAs="String">
                <value>101</value>
            </setting>
            <setting name="VoiceHotkeyMod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsVoiceEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </TraceShot.Properties.Settings>
    </userSettings>
</configuration>